/* 版心宽度 */
.container {
  width: 1190px;
  margin: 0 auto;
}

header {
  height: 30px;
  background-color: #ececec;
  white-space: nowrap;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topbar-left {
  display: flex;
  align-items: center;
}

.topbar-left .title {
  margin-right: 28px;
}

.topbar-left .title span {
  font-size: 16px;
  color: #666;
  line-height: 30px;
}

.topbar-left .login-register {
  display: flex;
  color: #666;
  font-size: 12px;
  line-height: 12px;
}

.topbar-left .login-register span {
  color: #666;
}

.topbar-left .login-register .login {
  padding-right: 10px;
  border-right: 1px solid black;
}

.topbar-left .login-register .register {
  padding-left: 10px;
}

.topbar-right {
  display: flex;
  align-items: center;
  font-size: 12px;
}
